/**
*
*   BUTTONS
*
**/
/** Big button */

/** Small button */
.small-btn{
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.small-btn:hover{
    text-decoration: none;
    margin: -1px !important;
}
/** Green btn */
.green-btn{
    background-color: white;
    color: #5cb85c;
    border-color: #5cb85c;
}
.green-btn:hover{
    color: white;
    border: solid 1px #5cb85c;
    background-color: #5cb85c; 
}
/** Red btn **/
.red-btn{
    background-color: white !important;
    color: #FF4530;
    border-color: #FF4530 !important;
    
}
.red-btn:hover{
    color: white;
    border: solid 1px #FF4530;
    background-color: #FF4530 !important;
}
/** Blue btn */
.blue-btn{
    background-color: white;
    color: #337ab7;
    border-color: #337ab7;
}
.blue-btn:hover{
    color: white;
    border: solid 1px #337ab7;
    background-color: #337ab7 !important;
}