/**
* Common elements for all webpage
**/

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    font-family: "josefin-sans";
}

#main-page{
    height: 100%;
    min-height: 100%;
}

/** Hide elements */
.hidden {
    display: none;
}

/*
** 
**The header navigation 
**
*/
/** Change the bkgnd color to white */
nav {
    background-color: rgba(242, 241, 236, 0.95) !important;
    min-height: 100px;
    color: #333;
    padding: 0px 0px;
    animation-name: grow-nav;
    animation-duration: .1s;
}

nav .container{
    width: 100%;
    margin: 0;
}

.navbar-nav {
    /** options */
    min-height: 45px;
    padding-bottom: 5px; /** To fix the height when responsive */
    float: right;
}

.in {
    background-color: #F2F1EC;
}

.in .navbar-nav{
    /** re-center links when collapse menu*/
    width: 100%;
    margin: auto;
}

/** Options for the menu */
.nav-option a{
    color: #001F35 !important;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 15px;
    padding: 0 1.5em !important;
}

.nav-option a:hover{
    background-color: none !important;
    text-decoration: none;
    color: #004C82 !important;
    border-bottom: solid 4px #004C82;
    margin-bottom: -1px;
}

#logo {
    min-height: 45px;
    padding: 0;
    padding-top: 5px;
}

#logo img{
    height: 45px;
    max-height: 45px;
}


/**
**
** HEADER SECTION
**
*/
header {
    background-image: url('../img/background-img-15-des.jpg');
    /*background-color: #333;*/
    /*background-color: #001F35; */
    background-size: cover;
    min-height: 650px;
    height: 110%;
    position: relative;
}

header .content{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
header .content h1{
    font-size: 5rem;
    color: #DC143C;
}

#written-text{
    min-height: 5rem; 
    height: 5rem; 
    font-size: 4rem;
    margin-bottom: 40px;
    /*color: #DC143C; */
    color: #337ab7;
    font-weight: bold;
}


#link-list li{
    padding: 1em 0em;
    color: white;
    list-style: none;
}
#link-list li i{
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 1.8em;
   
    
    color: white;
    padding: 1em;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
}
#link-list li i:hover{
   color: #DC143C;
}

/**
**
** ARTICLES
**
*/
article {
    min-height: 95%;
}

article[class="gold-article"]{
    background-color: #F4A460;
}

article[class="blue-article"]{
    background-color: #001F35;
    color: #C9C9C9;
}

article[class="semiblue-article"]{
    background-color: #004C82; 
    color: #C9C9C9;
}

article[class="white-article"]{
    background-color: white;
}

article[class="semiwhite-article"]{
    background-color: #C9C9C9;
}

article[class="semidark-article"]{
    background-color: #333;
    color: white;
}

article section {
    margin: 0 auto;
    width: 50%;
}
article section h1{
    margin-top: 0px;
    padding-top: 75px;
    text-align: center;
    font-weight: bold;
}

/**
*
* FEATURES SECTION
*
**/
#features {
    min-height: 90%;
    background-color: WhiteSmoke;
    background-image: url('/img/grid_stripe2.png');
}

#features-content {
   width: 80%;
    margin: 0 auto;
}

#features-content .feature-icon i{
    float: left;
    width: 30%;
}
#features-content .feature-icon svg{
    fill: #001F35;
    height: 8em !important;
    width: 8em !important;
}

.feature-icon .feature-icon-description {
    float: left;
    width: 60%;
}

.feature-icon .feature-icon-description h3{
    margin-top: 2em;
    font-weight: bold;
}

.feature-icon::after {
    clear: both;
}

/**
*
*   INFORMATION ARTICLE
*
**/
#information {
    min-height: 80%;
}

.tab-panel{
    margin: 0 auto;
    width: 80%;
}
.tab-panel ul{
    text-align: center;
}
.tab-panel ul li{
    list-style: none;
    display: inline-block;
    padding: 0 2em;
}
.tab-panel ul li a{
    font-size: 2em;
    color: #C9C9C9;
    text-decoration: none;
}
.tab-panel ul li a:hover{
    font-size: 2em;
    text-decoration: none;
}
.tab-panel ul li .selected{
    border-bottom: solid 1px #DC143C;
}

/**
*
*   TECHONOLOGIES
*
**/
article[id="technical"] section {
    margin: 0 auto;
    width: 80%;
}

#technical {
    min-height: 80% !important;
    font-size: 1.5em;
}

#techonologies-items .left {
    float: left;
    width: 100%;
}

#techonologies-items .left ul {
    list-style: none;
}
#techonologies-items .left ul::after {
    clear: both;
}

#techonologies-items .left ul li{
    width: auto;
    display: inline-block;
}



/**
*
* TEAM ARTICLE
*
**/
#team {
    background-color: WhiteSmoke !important;
    background-image: url('/img/grid_stripe2.png');
    min-height: 80%;
    height: 80%;
}

.team-profile{
    min-height: 150px;
    text-align: center;
}

.team-profile img{
    diplay: inline-block;
}

.team-profile .team-profile-title{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.team-profile .team-profile-title h2,h4,p{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.team-profile .team-profile-title h2{
    color: #004C82;
}

.team-profile-links {
    margin: 15px;
    min-height: 45px;
}

/** profile photo and links at bottom to social networks */
.profile_photo {
    width: 200px;
    height: 260px;
    border: solid 1px #333;
    box-shadow: 0px 0px 2px #888;
    margin-bottom: 1em;
}

.team-profile-links ul li{
    float: left;
    width: 30% !important;
    margin: 1.5%;
}

.circular_network_link a i{
    font-size: 1.3em;
    font-weight: normal !important;
    color: black;
    background-color: transparent;
    padding: .3em;
    display: inline-block;
    
    border-radius: 60px !important;
    border-width: 4px;
    border-color: #888;
    border-style: solid;
}

.circular_network_link a i:hover{
    color: #888;
}

/**
**
** FOOTER
**
*/
footer{
    min-height: 150px;
    /*background-color: black;
    color: white;*/
    /*background-color: #363636;*/
    background-color: #004C82;
    color: #C9C9C9;
}

footer .container{
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#footer-links li {
    margin-right: .5em;
    font-size: 2em;
}

/** Footer with color beige */
footer[class="footer-beige"]{
    background-image: url('/img/grid_stripe2.png');
    background-color: WhiteSmoke;
    border-top: solid 4px #004C82;
    min-height: 0px;
    padding: 1em;
}

footer[class="footer-beige"] .container{
    color: #3c3c3c;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

footer[class="footer-beige"] #footer-links li {
    margin-right: .5em;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1em;
}
footer[class="footer-beige"] #footer-links i{
    color: black;
    background-color: transparent;
    padding: .3em;
    display: inline-block;
    
    border-radius: 60px;
    border-width: 4px;
    border-color: #888;
    border-style: solid;
}

#footer-links  li i:hover{
    transform: scale(1.2) rotate(20deg);
    transition: 0.7s;
}
#footer-links  li i{
    transform: scale(1);
    transition: 0.5s;
}

li[class="separator"] {
    content: ' ';
    padding: .5em 0em;
    border-right: solid 1px black;
    transform: rotate(20deg);
}



/**
* ANY OTHER STYLE
**/
.capital-letter {
    font-size: 6em;
}

/** link as red button  */
a[class="red-btn"]{
    color: white;
    padding: 15px 15px;
    background-color: #FF4530;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 900;
     overflow: hidden;
    white-space: nowrap;
}
a[class="red-btn"]:hover{
    color: #333;
    text-decoration: none;
    border: solid 1px #FF4530;
    background-color: white;
    margin: -1px;
}

/** White line separator **/
.white-line-separator{
    border-bottom: solid 1px #F2F1EC;
    margin: 0 auto;
    width: 50%;
}
/** Black line separator **/
.black-line-separator{
    border-bottom: solid 1px black;
    margin: 0 auto;
    width: 50%;
}
/** Red line separator */
.red-line-separator{
    border-bottom: solid 1px #DC143C;
    margin: 0 auto;
    width: 50%;
}
/** Blue line separator */
.blue-line-separator{
    border-bottom: solid 3px #004C82;
    margin: 0 auto;
    width: 50%;
}

/** Change the bkgnd color to white */
.white-background{
    /*background-color: #F2F1EC;*/
    background-color: rgba(242, 241, 236, 0.7) ;
    padding: 0px;
    animation-name: ungrow-nav;
    animation-duration: .1s;
}
.white-background ul li a {
    color: #001F35 !important;
    border-bottom: solid 1px #001F35;
}


/** Circular img */
img[class="circular"] {
    width: 140px;
	height: 140px;
	border-radius: 150px;
    border-style: solid;
    border-color: #888;
    border-width: 2px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.img-wrapper {
    border-style: solid;
    border-width: 8px;
    border-color: rgba(0,31,53,.15);
    border-radius: 100%;
    box-shadow: inset 0 0 7px 0 #001F35;
    width: 155px;
	height: 155px;
    margin: 0 auto;
}

.icon-wrapper {

}
/**
*
*   list styles
*
*/
.horizontally-list li{
    display: inline-block;
}
.horizontally-list::after {
    clear: both;
}
.nonstyle-list {
    list-style: none;
}

/** Centered div horizontally */
.centered-div{
    margin: 0 auto;
    width: 80%;
}

/** Center a div horizontally */
.center-div {
    margin: 0 auto;
}


/** Icons list */
.icon-list ul {
    list-style: none;
}
.icon-list ul li {
    float: left;
}

.icon-list-three-cols ul {
    width: 100%;
    margin: 0 auto;
}
.icon-list-three-cols ul li{
    float: left;
    width: 30%;
    margin: 1.5%;
}





.icon-list-three-cols ul li div{
    text-align: center;
    vertical-align: middle;
}
.icon-list-three-cols ul li div[class="with-right-separator"]{
    border-right: solid 1px white;
}


.icon-list-elem {
    height: 12em;
    width: 12em;
    fill: #001F35;
    background-image: url('/img/grid_stripe2.png');
    background-color: #fff;
    padding: 1.5em;
    
    border-radius: 25%;
    border-width: 8px;
    border-style: solid;
    border-color: #f8f8f8; 
    box-shadow: inset 0 0 7px 0 rgba(0,0,0,.08); 
}

/** Separators */
#header-separator {
    height: 5em;
    background-color: whitesmoke;
    background-image: url('/img/grid_stripe2.png');
    width: 100%;
    margin: 0 auto;
}
#header-separator::after{
    content: ' ';
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-top: 3em;
    height: 4em;
    width: 4em;
    transform: rotate(45deg);
    background-color: whitesmoke;
    background-image: url('/img/grid_stripe2.png');   
}

.separator-with-arrow {
    background-color: transparent;
    border-top: solid 1px #001F35;
    width: 85%;
    margin: 3em auto;
}
.separator-with-arrow::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
   
    background-color: #001F35;
    left: 50%;
    transform: rotate(45deg) translate(0, -0.75em);
    z-index: 1;
    
    
}


/**
* Row with two columns
**/
.row-two-cols .column{
    width: 45%;
    display: inline-block;
    margin-bottom: 4em;
}


.fill-top-20 {
    min-height: 125px;
    padding-top: 125px;
}